.plog-text {
    .inlineref {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
        color: #ff502c;
        text-decoration-color: #ff502c;
        background: #fff5f5;
        border-radius: 0.02rem;
        padding: 0.065em 0.4em;
    }

    ins {
        .inlineref {
            text-decoration: underline;
        }
    }

    del {
        .inlineref {
            text-decoration: line-through;
        }
    }
}

.plog-article {
    .bg {
        font-size: 0.87em;
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
        border-radius: 0.02rem;
        background-color: #fff5f5;
        color: #ff502c;
        padding: 0.065em 0.4em;
    }
}
